img{
    width:300px;
    height:300px;

}
#img1{
    width:300px;
    border-radius:50%;
    padding:20px;
    background-color: black;
    border:3px solid red;
}
#img2{
    border-top-left-radius:30px ;
    border-top-right-radius:50px ;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:20px ;
}
#img2{
    border-radius: 5px;
    border:1px solid black;
    padding:30px;
    height:250px;
    width:200px;
}
#img3{
    width:700px;
    height:700px;
    border:3px solid red;
    opacity:0.5;

}
#i4{
    max-width:100%;
    height:auto;
}