.container{
    position:relative;
    height:800px;
    border:1px solid red;
}
.container1{
    border:1px solid blue;
    margin-top: 40px;
    height:800px;
}
.box{
    margin:0 10px;
    height:100px;
    width:100px;
    border:3px solid red;
    text-align: center;
    font-size:20px;
}
#box2{
    background-color: yellow;
    position:relative;
    top:100px;
    left:100px;
}