.news{
    column-count:4;
    column-gap:20px;
    column-rule-style:dashed;
    column-gap:10px;
    column-rule-color: blue;
    column-rule-width:8px;
    text-align:justify;

}
img{
    width:300px;
    height:300px;
}