a{
    text-decoration: none;
    font-size:30px;

}
a:link{
    color:red
}
a:visited{
    color:purple
}
a:hover{
        color:green
}
a:active{
    color:orange;
}
input:focus{
    background-color: yellow;
    color:red;
}
ul li:nth-child(odd){
    color:blue;
    font-size:20px;
}
/* ul li:not(#special){
    color:green;
} */

